@font-face {
  font-family: "junegull";
  src: url(../Fonts/junegull/junegull\ rg.otf);
}
@font-face {
  font-family: "open_sans";
  src: url("../Fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf");
  font-weight: 800;
}
:root {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "junegull";
  width: 100vw;
  margin: 0;
  padding: 0;
}

main .game-name-container p span, header .money-container span, header .profile-outline, header .spin-container p {
  display: grid;
  place-content: center;
}

header {
  z-index: 1;
  position: relative;
  background: hsl(14, 68%, 68%);
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: end;
  box-shadow: 0 1px 5px 3px #8B5241;
  padding: 40px 5px 10px 5px;
}
header .profile-outline .profile, header .profile-outline {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 3px solid transparent;
}
header .spin-container img, header .no-ads-container .no-ads {
  height: 60px;
  width: auto;
}
header .no-ads-container {
  display: flex;
  margin: auto 15px 0 0;
}
header .spin-container {
  position: relative;
  margin: auto 0 0 0;
  font-family: "open_sans";
  color: #fff;
}
header .spin-container img {
  display: block;
}
header .spin-container p {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: 7px;
  font-size: 12px;
  border: 2px solid #fff;
  background: red;
}
header .profile-outline {
  z-index: 1;
  position: absolute;
  bottom: -12%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75), inset 0px 0px 5px 0px #333535;
  background: linear-gradient(to left, hsl(184, 74%, 52%) 50%, hsl(13, 52%, 45%) 50%) padding-box, linear-gradient(to top, #CF8A6D, #fff) border-box;
}
header .profile-outline::before {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: absolute;
  content: "";
  background: linear-gradient(to right, transparent 50%, hsl(184, 74%, 52%) 50%);
  transform: scale(0.9) translate(-3.15px, -2.5px) rotate(0turn);
  border-radius: 0 100% 100% 0;
}
header .profile-outline .profile {
  position: relative;
  cursor: pointer;
  background: linear-gradient(hsl(56, 91%, 57%) 100%, hsl(56, 91%, 57%) 100%) padding-box, linear-gradient(to top, #CF8A6D, #fff) border-box;
  transform: scale(0.8);
}
header .profile-outline .profile img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
header .profile-outline .profile .star-img {
  top: -30px;
}
header .profile-outline .profile .level {
  color: #fff;
  text-shadow: -0.5px 0px 1.5px #000;
  font-size: 14px;
  z-index: 1;
  position: absolute;
  top: -34px;
  left: 26px;
}
header .profile-outline .profile .book {
  transform: scale(0.9);
  top: 6px;
}
header .profile-outline .profile .shield {
  bottom: -25px;
}
header .money-container {
  position: relative;
  display: flex;
  margin: auto 0 10px auto;
  align-items: center;
  border-radius: 30px;
  background: hsla(0, 0%, 0%, 0.3);
  color: hsl(0, 0%, 100%);
  height: 28.8px;
  width: 100px;
}
header .money-container .money-amount {
  margin-left: auto;
  margin-right: 30px;
}
header .money-container .money-icon {
  position: absolute;
  height: 28.8px;
  right: 0;
  top: 0;
}
header .money-container span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  position: absolute;
  right: -18px;
  bottom: -20px;
  transform: scale(0.25);
  background: hsl(126, 57%, 48%);
}

main {
  position: relative;
  width: 100%;
  height: 70vh;
  min-height: 460px;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 90px;
  overflow: hidden;
}
main::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: -60%;
  min-height: 2000px;
  min-width: 2000px;
  background-image: linear-gradient(90deg, hsl(12, 68%, 61%) 50%, hsl(10, 68%, 60%) 50%);
  background-size: 20px;
  animation: background-movement 15s infinite 0.5s linear;
}
main .game-name-container p {
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
  color: #fff;
}
main .game-name-container p span {
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--clr);
  box-shadow: 3px 3px hsl(from var(--clr) h s 40);
}
main .game-play-section {
  border: 4px solid hsl(10, 44%, 69%);
  border-radius: 25px;
}

@keyframes background-movement {
  0% {
    transform: rotate(-0.1turn) translate(-25%, -10%);
  }
  50% {
    transform: rotate(-0.1turn) translate(-30%, -10%);
  }
  100% {
    transform: rotate(-0.1turn) translate(-25%, -10%);
  }
}/*# sourceMappingURL=index.css.map */