$secondary-background: #E58F76; //lighter peach
$primary-background:#F5E72F;// light yellow
$gradient_1: #E07257; //light peach
$gradient_2: #DE6C54; // dark peach
$progress: #28D2DF;//light blue
$no-progress:#AC5037; //default colour when there's no progress

body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}