@import './config';


%placeContentCenter{
  display: grid;
  place-content: center;
  // places item in center of the container
}
%cursorPointer{
  cursor: pointer;
  // when button is hovered over style is applied
}
%vertical-center {
  top: 0;
  bottom: 0;
  margin: auto 0;
  // centers it vertically and positions it to the right
}
@mixin circularContent($width: 65px,$height: 65px){
  width: $width;
  height: $height;
  border-radius: 50%;
};


header{
  z-index: 1;
  position: relative;
  background: $peach-100;
  height: fit-content;
  display: flex;
  align-items: end;
  box-shadow: 0 1px 5px 3px #8B5241;

  padding: 40px 5px 10px 5px;


  %profile-base{
    // profile-outline and profile shared styles
    
    @include circularContent;
    // sets the width, height and makes it circular
    border: 3px solid transparent;
    // to enable border gradient visible
  }

  %resize-image{
    // resize image so they are uniform
    height: 60px;
    width: auto;
  }


  .no-ads-container{
    // styles the container that houses no ads logo

    display: flex;
    margin: auto 15px 0 0;
    // uses flex so margin-auto works properly and image fits container,  and moves it to the bottom of the header

    .no-ads{
      @extend %resize-image;
      // determine image size
    }
  }

  .spin-container{
    // styles the container that houses the spin icon
    position: relative;
    margin: auto 0 0 0;
    // position styling and moves it to the bottom of the header

    font-family: "open_sans";
    color: #fff;
    // font styling

    img{
      @extend %resize-image;
      display: block;
    }
    p{
      @include circularContent(20px,20px);
      @extend %placeContentCenter;
      //places it's inner content center and makes itself circular 
      
      position: absolute;
      top: -4px;
      right: 7px;
      // position the number of spins beside the spin board

      font-size: 12px;
      border: 2px solid #fff;
      background:red;
      // determines text size and border and background of spin amount
    }
  }

  .profile-outline{
    // houses the profile in the middle of the screen
    @extend %profile-base;
    @extend %placeContentCenter;
    // places it's content horizontally and vertically center
    z-index: 1;
    // makes it display above header shadow  

    position: absolute;
    bottom: -12%;
    left: 0;
    right: 0;
    margin: 0 auto;
    @include circularContent();
    // places item in the center and 40% below it's parent container

    padding: 2px;
    // makes background visible

    box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.75),inset 0px 0px 5px 0px #333535;
    // external and internal box shadow

    background: linear-gradient(to left,$progress 50%,$no-progress 50%) padding-box,linear-gradient(to top, #CF8A6D, #fff) border-box;
    // background and border colour
    
    &::before{
      // create rotatable progress bar in profile

      @include circularContent();
      // gives it height and width so it can be visible and makes it circular

      position: absolute;
      content: "";
      
      background: linear-gradient(to right,transparent 50%,$progress 50%);

      transform: scale(0.9) translate(-3.15px,-2.5px) rotate(0.0turn);
      // properly position it relative to profile-outline background
      border-radius: 0 100% 100% 0;
      // create half moon like shape
    }
    .profile{
    
      position: relative;
      cursor: pointer;
      @extend %profile-base;
      // Shared stylings

      background: linear-gradient($primary-background 100%, $primary-background 100%) padding-box, linear-gradient(to top, #CF8A6D, #fff) border-box;
      
      // background and border colour 
      
      transform: scale(0.8);

      // padding-top: 2px;
      // helps in centering the internal img
      
      %horizontalCenter{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      img{
        @extend %horizontalCenter;
      }
      .star-img{
        top: -30px;
      }
      .level{
        color: #fff;
        text-shadow: -0.5px 0px 1.5px #000;
        font-size: 14px;
        // to create outline on level
        z-index: 1;
        // makes it display over star image
        position: absolute;
        top: -34px;
        left: 26px;
        // override generalized style and properly position it
      }
      .book{
        transform: scale(0.9);
        top: 6px;
        // reduces the image while maintaining aspect ratio
      }
      .shield{
        bottom: -25px;
      }

    }
  }


  
 
  .money-container{
    
    position: relative;
    
    display: flex;
    margin: auto 0 10px auto; 
    align-items: center;
    // positions the money in the center
    
    border-radius: 30px;
    background: hsl(0 0% 0% / .3);
    color: hsl(0, 0%, 100%);
    height: $money-size;
    width: 100px;

    .money-amount{
      margin-left: auto;
      margin-right: 30px;
    }
    .money-icon{
      position: absolute;
      height: $money-size;
      right: 0;
      top: 0;
    }
    span{
      @include circularContent(50px,50px);
      @extend %placeContentCenter;

      cursor: pointer;

      display: block;
      position: absolute;
      right: -18px;
      bottom: -20px;
      //display to remove it from being inline element 

      transform: scale(0.25);
      // determines the size of the increment

      background:hsl(126, 57%, 48%);
    }
  }
}


main{
  position: relative;
  width: 100%;
  height: 70vh;
  min-height: 460px;
  max-width: 900px;
  margin:  0 auto;
  // centers it horizontally
  padding-top: 90px;

  overflow: hidden;
  // hides the overflowing background
  

  &::before{
    // to creates the moving background
    position: absolute;
    z-index: -1;
    content: "";
    top: -60%;
    min-height: 2000px;
    min-width:  2000px;

    background-image:
      linear-gradient(90deg,
        $peach-200 50%,
        $peach-300 50%);
    background-size: 20px;
    animation: background-movement 15s infinite .5s linear;
  }
  .game-name-container {
    p {
      // style the text worlde!
      display: flex;
      justify-content: space-evenly;
      font-size: 24px;
      color: #fff;

      span {
        z-index: 1;
        // enable wordle display over background
        @include circularContent(40px, 40px);
        @extend %placeContentCenter;
        background: var(--clr);
        box-shadow: 3px 3px hsl(from var(--clr) h s 40);
        // creates darker box shadow based on background colour
      }
    }
  }

  .game-play-section{
    border: 4px solid hsl(10, 44%, 69%);
    border-radius: 25px;
    
  }
}

@keyframes background-movement {
  0%{
    transform: rotate(-0.1turn) translate(-25%, -10%);  
  }
  50%{
    transform: rotate(-0.1turn) translate(-30%, -10%);
  }
  100%{
    transform: rotate(-0.1turn) translate(-25%, -10%);
  }
}
