@font-face {
  font-family: "junegull";
  src: url("https://anayo-sylvester.github.io/worlde-game/assets/Fonts/junegull/junegull_rg.otf");
}
@font-face {
  font-family: "open_sans";
  src: url("https://anayo-sylvester.github.io/worlde-game/assets/Fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf");
  font-weight: 800;
}
:root {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: "junegull";
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background: hsl(0, 4%, 35%);
  overflow: hidden;
}

.spin-container, .no-ads-container, button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

main #keyboard .row button, main #input span, header .level-container .img-cont {
  display: grid;
  place-content: center;
}

body {
  background-color: hsl(45, 64%, 74%);
}

header {
  display: flex;
  justify-content: center;
  padding: 15px 5px;
  border: 2px;
}
header .level-container {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0 auto 0;
}
header .level-container .level {
  text-align: center;
}
header .level-container .level span {
  display: block;
  font-size: 32px;
}
header .level-container .img-cont {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  top: 0;
  right: -25px;
  background: hsl(208, 83%, 72%);
  box-shadow: 0px 2px 2px #608DA2;
}
header .level-container .img-cont img {
  height: 15px;
  width: auto;
}

main #input {
  height: clamp(360px, 50vh, 50vh);
  padding: 0 45px;
  display: grid;
  color: #fff;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
}
main #input span {
  border: 3px solid #fff;
  border-radius: 5px;
  font-size: clamp(16px, 5vw, 43px);
}
main #input span.wrong {
  background: #807E89;
  border: none;
}
main #input span.right-L-Wrong-P {
  background: hsl(50, 93%, 61%);
  border: none;
}
main #input span.right {
  background: hsl(120, 34%, 58%);
  border: none;
}
main #alert {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-left: 110%;
  overflow: hidden;
  transition: 0.1s;
}
main #alert.active {
  margin-left: 0%;
  transition: 0.1s;
}
main #alert img {
  margin-right: 10px;
  height: 20px;
}
main #keyboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
main #keyboard .row {
  display: flex;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  gap: 5px;
}
main #keyboard .row button {
  background: #fff;
  width: 8vw;
  height: max(40px, 5vh);
  border-radius: 5px;
  box-shadow: 0 3px hsl(250, 4%, 72%);
}
main #keyboard .row button {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: none;
}
main #keyboard .row button.disabled {
  pointer-events: none;
}
main #keyboard .row button.wrong {
  color: #fff;
  background: #807E89;
}
main #keyboard .row button.right {
  background: hsl(50, 93%, 61%);
}
main #keyboard .row button:active {
  background: hsl(0, 1%, 28%);
  color: #fff;
}/*# sourceMappingURL=game.css.map */
