@import "./_shared";

body{
  background-color: hsl(45, 64%, 74%);
}

header{
  display: flex;
  justify-content: space-between;
  padding: 15px 5px;
  border: 2px;

  .back{
    // back arrow style
    @extend %placeContentCenter;

    color: #fff;
    width: fit-content;
    font-size: 60px;
  }
  
  .level-container{
    position: relative;
    height: fit-content;
    margin: auto -70px auto 0; //-70px centers it horizontally
   //spacing and position


    .level{
      text-align: center;
      span{
        display: block;
        font-size: 32px;
      }
    }

    .img-cont{
      $height:15px;
      @include circularContent($height,$height);
      @extend %placeContentCenter;
      padding: 10px;
      position: absolute;
      top: 0;
      right: -25px;

      background: hsl(208, 83%, 72%);
      box-shadow: 0px 2px 2px  #608DA2;
      img{
        height: $height;
        width: auto;
      }
    }
  }

  .money-container {
    @extend %money-container;
    margin: auto 0;// 0 10px auto;

    .money-amount {
      @extend %money-amount;
    }

    .money-icon {
      @extend %money-icon;
    }

    span {
      @extend %span;
    }
  }
}

main{
  #input{
    height: clamp(360px,50vh,50vh);
    padding: 0 45px;
    display: grid;
    color: #fff;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 5px;
    span{
      border: 3px solid #fff;
      border-radius: 5px;
      @extend %placeContentCenter;
      font-size: clamp(16px,5vw,43px);
      &.wrong{
        // if wrong letter is inputted
        background: #807E89;
        border: none;
      }
      &.right-L-Wrong-P{
        // if right letter inputted is wronglly placed
        background: $main-button-100;
        border: none;
      }
      &.right{
        background: hsl(120, 34%, 58%);
        border: none;
      }
    }
  }
  #keyboard{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    // flex enable margin and gap to work
    .row{
      display: flex;
      margin: auto;
      // centers it horizontally

      width: fit-content;
      gap: 5px;

      %shared{
        @extend %placeContentCenter;
        background: #fff;
        width: 8vw;
        height: max(40px, 5vh);
        // when on very large screen
        border-radius: 5px;
        box-shadow: 0 3px hsl(250, 4%, 72%);
      }
      button{
        @extend %shared;
        user-select: none;
        //prevent letters from highlighting when clicking
        border: none;

        &.disabled{
          pointer-events: none;
        }

        &.wrong{
          color: #fff;
          background: #807E89;
        }
        &.right{
          background: $main-button-100;
        }
        &:active{
          background: hsl(0, 1%, 28%);
          color: #fff;
        }
      }
      .submit {
        @extend %shared;
        color: hsl(0, 0%, 100%);
        background: hsl(0, 1%, 57%);
        box-shadow: hsl(240, 1%, 58%);
        border-radius: 25px;
        width: 20vw;
      }
    }
  }
}